body {
  color: #aaa !important;

}

.header-area {
  color: #fff;
  background-color: #00A885;
  padding: 5px 40px 20px 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.header-area:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #3D8EB9;
}

.player-score {
  color: #00A885;
  text-decoration: underline;
}

.random-numbers {
  text-align: center;
  margin-top: 50px;
}

.num-buttons {
  text-align: center;
  margin-top: 40px;
}

.answerField {
  text-align: center;
}

.form-group{
  margin-top: 20px;
}

.num-button {
  color: #fff;
  min-width: 80px;
  font-size: 30px;
  padding: 5px 15px;
  margin: 5px;
  background-color: #00A885;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.num-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #3D8EB9;
}

.num-button:first-child {
  background-color: grey;
}

.numbersMain {
  min-width: 150px;
  display: inline-block;
  text-align: center;
  font-size: 70px;
  padding: 20px;
  color: #fff;
  margin: 20px;
  padding: none ;
  background-color: #3D8EB9;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.numbersMain:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #00A885;
}

.operand {
  color: black;
  text-align: center;
  font-size: 70px;
  margin-top: -50px;
}

.totalBtn {
  display: block;
  margin: 40px auto;
  color: #fff;
  font-size: 50px;
  background-color: #00A885;
  padding: 15px 20px 5px 20px;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);

}

.totalBtn:hover {
  background-color: #00A885;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #3D8EB9;
}

.clearBtn {
  color: #fff;
  background-color: #00A885;
  font-size: 20px;
  padding: 5px 20px;
  margin: 10px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.clearBtn:hover {
  background-color: #00A885;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #3D8EB9;
}

.guess-message {
  background-color: #00A885;
  font-color: #fff;
  padding: 20px 30px;
  margin: 20px auto;
}


